:root {
  --darkest-body: rgba(17,18,20, 1);
  --darker-body: rgba(30,31,34,1);
  --mid-body: rgba(43,45,49,1);
  --lighter-body: rgba(49,51,56,1);
  --lightest-body: rgba(56,58, 64, 1);
  --main-blue: rgba(88, 101, 242, 1);
  --site-body-bg: rgba(16, 23, 42, 1);
}


body{
  background: var(--site-body-bg);
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}