@import "Constants.css";

  
  .background-block{
    width: 100vw;
    padding-left: 10vw;
    padding-right: 10vw;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background-image: var(--pretty-gradient-dark);
    box-sizing: border-box;
    padding-top: 10vh;
    padding-bottom: 10vh;
    height: 110vh;
  }

