:root {
    --darkest-body: rgba(17,18,20, 1);
    --darker-body: rgba(30,31,34,1);
    --mid-body: rgba(43,45,49,1);
    --lighter-body: rgba(49,51,56,1);
    --lightest-body: rgba(56,58, 64, 1);
    --main-blue: rgba(88, 101, 242, 1);
  }

  
  .background-block{
    width: 100vw;
    padding-left: 10vw;
    padding-right: 10vw;
    box-sizing: border-box;

    background-color: var(--lighter-body);
    display: flex;
    flex-direction: column;
    justify-content: center;

    box-sizing: border-box;
    padding-top: 10vh;
    padding-bottom: 10vh;
    height: 110vh;
  }

