.homepage-hero{
    width: 100vw;
    padding-left: 10vw;
    padding-right: 10vw;
    position: relative;

    height: 110vh;

    padding-bottom: 10vh;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.homepage-hero img{
    width: 80%;
    height: auto;
    position: relative;
    border-radius: 20px;
}

.homepage-hero-title{
    position: relative;
    top: -25px;
    width: 33%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 7px;
    padding: 5px;
    
}

.homepage-hero-title > .title-text:nth-child(1)
{
    font-size: 2.25vw;
}

.homepage-hero-title > .title-text:nth-child(2)
{
    cursor: pointer;
    text-decoration: underline;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    border-bottom: 1px solid rgba(220,220,220,1);
    width: 33%;
    font-size: 1vw;
}


@keyframes pulse
{
    0%{
        transform: scale(1);
    }   
    
    50%{
        transform: scale(1.1);
    }
   
    100%{
        transform: scale(1);
    }
}

.homepage-hero > .footer-divider-bar{
    position: relative;
    margin-top: 40px;
    width: 100%;
    left: 0px;
}

@media only screen and (max-width: 640px) {
    .homepage-hero-title
    {
        width: 50%;
        height: 40px;
    }

    .homepage-hero img{
        width: 90%;
    }

    .homepage-hero-title > .title-text:nth-child(1)
    {
        font-size: 3vw;
    }

    .homepage-hero-title > .title-text:nth-child(2)
    {
        width: 30%;
        font-size: 1.75vw;
    }
}