@import "Constants.css";

.homepage-hero{
    width: 100vw;
    padding-left: 10vw;
    padding-right: 10vw;
    position: relative;

    height: 110vh;

    padding-bottom: 10vh;
    padding-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    box-sizing: border-box;

    max-width: 100vw;
}

.homepage-midsection{
    width: 100vw;
    padding-left: 10vw;
    padding-right: 10vw;
    position: relative;

    height: 110vh;

    padding-bottom: 10vh;
    padding-top: 10vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: start;
    box-sizing: border-box;

    max-width: 100vw;
}


.homepage-hero-title{
    position: relative;
    top: -25px;
    width: 33%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 7px;
    padding: 5px;
    
}

.hero-title{
    color: transparent;
    background-image: linear-gradient(90deg, rgb(225, 225, 225) 0%, rgb(180, 180, 180) 100%);
    background-clip: text;
    font-size: 2rem;
    margin-bottom: 0;

}

.pretty-gradient-text{
    color: transparent;
    background-image: var(--pretty-gradient);
    background-clip: text;
    margin-left: 1px;
    margin-right: 1px;
}

.hero-paragraph{
    color: rgba(205,205,205,1);
}

.hero-column{
    padding-top: 10vh;
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: left;
    align-items: start;
}

.hero-button{
    position: relative;

    text-align: center;
    padding: 5px;
    margin: 0px;
    padding: 6px;
    width: 30%;
    border-radius: 5px;
    
    transition: all 0.25s ease;
    filter: brightness(1);    
    background-image: var(--pretty-gradient);
    border: 1px solid rgba(255,255,255,0.3);

    color: rgba(210,210,210, 1);
    
    cursor: pointer;
    font-size: 0.8em;
    user-select: none;
}



@media only screen and (max-width: 720px) {
    .homepage-hero{
        width: 100vw;
        padding-left: 10vw;
        padding-right: 10vw;
        position: relative;
    
        min-height: 150vh;
        padding-bottom: 10vh;
        padding-top: 0vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        box-sizing: border-box;
        
        max-width: 100vw;
    }

    .homepage-midsection{
        width: 100vw;
        padding-left: 10vw;
        padding-right: 10vw;
        position: relative;
    
        min-height: 150vh;
        padding-bottom: 10vh;
        padding-top: 0vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        box-sizing: border-box;
        
        max-width: 100vw;
    }
    
    .hero-column{
        flex-grow: 0;
    }
}