.search-bar{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search-bar > input[type=text] {
    position: relative;
    margin: 0px;
    padding: 6px;
    padding-right: 30px;
    width: 180px;
    border-radius: 5px;
    left: 10px;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    
    border: 1px solid rgba(190,190,190,0.5);
    background-color: rgba(0,0,0,0.4);
    color: rgba(190,190,190, 1);
    text-align: left;
    transition: color 0.25s ease-in-out,
                border 0.25s ease-in-out,
                text-shadow 0.25s ease-in-out;
}

.search-bar > input[type=text]:focus {
    outline: none;
    caret-color: rgba(220, 220 220, 1);
    color: rgba(220,220,220, 1);
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(210,210,210,0.7);
  }

  .search-bar > img{
    position: absolute;
    right: -5px;
    left: auto;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

.filter-form-wrapper{  
  position: relative;
  justify-self: flex-start;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  left: 5%;
  right: auto;
  min-width: 80%;
  max-width: 80%;
}

  .filter-form{
    justify-self: start;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    left: 0;
    margin: 0;  
    margin-top: 1px;
    margin-bottom: 1px;
    position: relative;

    width: 100%;
    min-width: 100%;
    max-width: 100%;
   }

  .filter-form > .input-field{
    width: 100%;
    position: relative;
  }

  .filter-form > .input-field > input[type=text]{
    position: relative;
    padding: 6px;
    border-radius: 5px;
    width: 100%;
    border: 1px solid rgba(190,190,190,0.5);
    background-color: rgba(0,0,0,0.4);
    color: rgba(190,190,190, 1);
    text-align: left;
    transition: color 0.25s ease-in-out,
                border 0.25s ease-in-out,
                text-shadow 0.25s ease-in-out;
}
  
.filter-form > .input-field > input[type=text]:focus {
    outline: none;
    caret-color: rgba(220, 220 220, 1);
    color: rgba(220,220,220, 1);
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(210,210,210,0.7);
}
