@import "Constants.css";

.site-header{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width:100vw;
    height:80px;
    left: 0%;
    box-sizing: border-box;

    background-color: transparent;
    backdrop-filter: blur(10px);
    padding-left: 1vw;
    padding-right: 1vw; 
}

.site-header::after{
    content: "";
    position: absolute;
    bottom: 0px;
    transform: scale(1) translateY(50%);
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;
    height: 1px;
    background: linear-gradient(90deg,rgba(var(--bg-slate-10),0),rgba(var(--bg-slate-10),.7) 20%,rgba(var(--bg-slate-10),.7) 80%,rgba(var(--bg-slate-10),0));
    box-shadow: rgba;
}

.icon-bar-group{
    display: flex; 
    flex-direction: row;
    gap: 20px;
    width: 240px;
}

.site-header > .title-text{
    transform: translate(-15%, 0);
    font-size: 3vw;
    flex-shrink: 1;
}

.site-header > .cart-group{
    display: flex;
    flex-direction: row;
    width:min-content;
    align-content: center;
    width: 240px;

}

.site-header .cart-group > .title-text{
    cursor: pointer;
    transition: all 0.1s ease;
}

.site-header .cart-group > .title-text:hover{
    filter: brightness(1.2); 
}

.site-header .cart-group > *{
    display: flex;
    flex-direction: row;
    width:60px;
    align-content: center;
}

.site-header *{
    align-self: center;
}


.navigation-menu{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    left: 0;
    right: auto;
    box-sizing: border-box;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 30px;
    padding-bottom: 30px;
}

.navigation-menu-item{
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
    width: 10px;
    height: 100%;
}

.navigation-menu-item * {
    position: absolute;
    top: 50%;
    left: 50%;
    width: max-content;
    transform: translate(-50%, -50%);
    font-size: 1em;
    cursor: pointer;
    transition: all 0.1s ease;
}

.navigation-menu-item *:hover{
    filter: brightness(1.2);
}

@media only screen and (max-width: 750px) {
  
    
    .site-header > .title-text{
        transform: translate(3%, 0);
    }
}

@media only screen and (max-width: 720px) {
    .site-header{
        flex-direction: column;
        justify-content: center;
        min-height: min-content;
        height: min-content;

        padding-top: 10px;
        padding-bottom: 10px;
    }

    .site-header > *
    {
        position: relative;
        margin-bottom: 5px;
        margin-left: 0px;
        margin-right: 0px;
    }


    .site-header > .title-text{
        order: 0;
        text-align: center;
        width: 90%;
        left: 10%;
        font-size: 5vw;
        right: auto;
        justify-self: center;
        transform: translate(-14%);
    }

    .site-header > .search-bar{
        order: 1;
        position: relative;
        margin: 5px;
    }


    .navigation-menu-item {
        margin-left: 10px;
        margin-right: 10px;
    }

    .site-header .cart-group{
        display: flex;
        flex-direction: row;
    }

    .icon-bar-group{
        display: flex; 
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        padding-left: 35vw;
        padding-right: 30vw;        
    }

    .navigation-menu{
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 0px;
    }
}