:root {
    --darkest-body: rgba(17,18,20, 1);
    --darker-body: rgba(30,31,34,1);
    --mid-body: rgba(43,45,49,1);
    --lighter-body: rgba(49,51,56,1);
    --lightest-body: rgba(56,58, 64, 1);
    --main-blue: rgba(88, 101, 242, 1);
  }

.footer-items-row{
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: start;
    justify-content: center;

}

.footer-column
{
    position: relative;
    display: flex;
    width: 180px;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    padding: 5px;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
}


.footer-column > *{
    margin: 2px;
}

.footer-column > .title-text{
text-align: left;
width: 100%;
padding-left: 10px;
padding-right: 10px;
}

.footer-column-bar{
    position: relative;
    width: 100%;
    height: 2px;
    background-color: rgba(190,190,190,1);
}
.footer-divider-bar{
    position: relative;
    left: 10%;
    right: auto;
    width: 80%;
    height: 1px;
    background-color: rgba(110,110,110,1);
    margin-top: 10px;
    margin-bottom: 10px;
}

.site-footer{
    width: 100%;
    height: min-content;

    margin-top: 30px;

    background-color: var(--darker-body);
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px solid rgba(110, 110,  110, 1);

    box-shadow: 0px -2px 5px var(--darkest-body);
}

@media only screen and (max-width: 640px) {
    .footer-items-row > *{
        width: 25%;
        margin-left: 5px;
        margin-right: 5px;
    }
}